importFrom("nnet", "which.is.max")
importFrom("multicool", "multinom")
import(memoise)
importFrom("stats", "fisher.test", "pnorm", "pt", "qnorm", "quantile", "var")
importFrom("utils", "combn")
export(simulation_SIDES)


